.spacing {
  padding-top: 90px;
}

hr {
  background: white;
}

.linkHeader {
  color: rgb(160, 160, 160);
}

.linkHeader:hover {
  color: white;
  text-decoration: none;
}
.logostyle{
  width: 9px;
  height: 9px;
}